@use '../../styles/styles.sass' as *
// Imports
@use '_variables.scss' as variables

// Theme
+theme(v-alert) using ($material)
  .v-alert--prominent .v-alert__icon
    &:after
      background: v-map-get($material, 'dividers')

// Sheet
+sheet(v-alert, variables.$alert-elevation, variables.$alert-border-radius, variables.$alert-shaped-border-radius)

// Block
.v-alert
  display: block
  font-size: variables.$alert-font-size
  margin-bottom: variables.$alert-margin
  padding: variables.$alert-padding
  position: relative
  transition: $primary-transition

  &:not(.v-sheet--tile)
    border-radius: variables.$alert-border-radius

  > .v-icon,
  > .v-alert__content
    +ltr()
      margin-right: variables.$alert-margin

    +rtl()
      margin-left: variables.$alert-margin

  > .v-icon + .v-alert__content
    +ltr()
      margin-right: 0

    +rtl()
      margin-left: 0

  > .v-alert__content + .v-icon
    +ltr()
      margin-right: 0

    +rtl()
      margin-left: 0

// Elements
.v-alert__border
  border-style: solid
  border-width: variables.$alert-border-width
  content: ''
  position: absolute

  &:not(.v-alert__border--has-color)
    opacity: variables.$alert-border-opacity

  &--left,
  &--right
    bottom: 0
    top: 0

  &--bottom,
  &--top
    left: 0
    right: 0

  &--bottom
    border-bottom-left-radius: inherit
    border-bottom-right-radius: inherit
    bottom: 0

  &--left
    +ltr()
      border-top-left-radius: inherit
      border-bottom-left-radius: inherit
      left: 0

    +rtl()
      border-top-right-radius: inherit
      border-bottom-right-radius: inherit
      right: 0

  &--right
    +ltr()
      border-top-right-radius: inherit
      border-bottom-right-radius: inherit
      right: 0

    +rtl()
      border-top-left-radius: inherit
      border-bottom-left-radius: inherit
      left: 0

  &--top
    border-top-left-radius: inherit
    border-top-right-radius: inherit
    top: 0

.v-alert__content
  flex: 1 1 auto

.v-alert__dismissible
  +ltr()
    margin: -16px -8px -16px 8px

  +rtl()
    margin: -16px 8px -16px -8px

.v-alert__icon
  align-self: flex-start
  border-radius: 50%
  height: variables.$alert-icon-size
  min-width: variables.$alert-icon-size
  position: relative

  +ltr()
    margin-right: 16px

  +rtl()
    margin-left: 16px

  &.v-icon
    font-size: variables.$alert-icon-size

.v-alert__wrapper
  align-items: center
  border-radius: inherit
  display: flex

// Modifiers
.v-alert--border
  &.v-alert--prominent
    .v-alert__icon
      +ltr()
        margin-left: variables.$alert-border-icon-margin

      +rtl()
        margin-right: variables.$alert-border-icon-margin

.v-alert--dense
  padding-top: variables.$alert-padding * 0.5
  padding-bottom: variables.$alert-padding * 0.5

  .v-alert__border
    border-width: variables.$alert-dense-border-width

.v-alert--outlined
  background: transparent !important
  border: variables.$alert-outline !important

  .v-alert__icon
    color: inherit !important

.v-alert--prominent
  .v-alert__icon
    align-self: center
    height: variables.$alert-prominent-icon-size
    min-width: variables.$alert-prominent-icon-size

    &.v-icon
      font-size: variables.$alert-prominent-icon-font-size

      &:after
        background: currentColor !important
        border-radius: 50%
        bottom: 0
        content: ''
        left: 0
        opacity: 0.16
        position: absolute
        right: 0
        top: 0

  &.v-alert--dense .v-alert__icon.v-icon::after
    transform: scale(1)

.v-alert--text
  background: transparent !important

  &:before
    background-color: currentColor
    border-radius: inherit
    bottom: 0
    content: ''
    left: 0
    opacity: 0.12
    position: absolute
    pointer-events: none
    right: 0
    top: 0
