@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

/* Theme */
+theme(v-system-bar) using ($material)
  background-color: map-deep-get($material, 'status-bar', 'regular')
  color: map-deep-get($material, 'text', 'secondary')

  .v-icon
    color: map-deep-get($material, 'text', 'secondary')

  &--lights-out
    background-color: map-deep-get($material, 'status-bar', 'lights-out') !important

.v-system-bar
  align-items: center
  display: flex
  font-size: variables.$system-bar-font-size
  font-weight: variables.$system-bar-font-weight
  padding: variables.$system-bar-padding

  .v-icon
    font-size: variables.$system-bar-icon-font-size
    margin-right: variables.$system-bar-icon-margin-right

  .v-btn
    .v-icon
      margin-right: 0

  &--fixed, &--absolute
    left: 0
    top: 0
    width: 100%
    z-index: 3

  &--fixed
    position: fixed

  &--absolute
    position: absolute

  &--window
    .v-icon
      font-size: variables.$system-bar-window-icon-font-size
      margin-right: variables.$system-bar-window-icon-margin-right
