@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

// Block
.v-chip-group
  .v-chip
    margin: variables.$chip-group-margin

  .v-chip--active
    color: inherit

    &.v-chip--no-color
      &:after
        opacity: variables.$chip-group-no-color-opacity

      &:focus:after
        opacity: variables.$chip-group-no-color-focus-opacity

// Element
.v-chip-group .v-slide-group__content
  padding: variables.$chip-group-content-padding

// Modifiers
.v-chip-group--column
  .v-slide-group__content
    white-space: normal
    flex-wrap: wrap
    max-width: 100%
