@use '../../styles/styles.sass' as *
// Imports
@use '_variables.scss' as variables

// Theme
+theme(v-sheet) using ($material)
  background-color: v-map-get($material, 'cards')
  border-color: v-map-get($material, 'cards')
  color: map-deep-get($material, 'text', 'primary')

  &--outlined
    border: variables.$sheet-outlined-border-width solid v-map-get($material, 'dividers')

// Sheet
.v-sheet
  +paper(variables.$sheet-elevation, variables.$sheet-border-radius, variables.$sheet-shaped-border-radius)
