@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

+theme(v-small-dialog) using ($material)
  &__menu-content,
  &__actions
    background: v-map-get($material, 'cards')

.v-small-dialog
  display: block

  &__activator
    cursor: pointer
    &__content
      display: inline-block

  &__content
    padding: variables.$edit-dialog-content-padding

  &__actions
    padding: variables.$edit-dialog-actions-padding
    text-align: right
    white-space: pre
