@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

.v-tooltip
  display: none

  &--attached
    display: inline

  &__content
    background: variables.$tooltip-background-color
    color: variables.$tooltip-text-color
    border-radius: variables.$tooltip-border-radius
    font-size: variables.$tooltip-font-size
    line-height: v-math-round(variables.$tooltip-font-size * 1.6)
    display: inline-block
    padding: variables.$tooltip-padding
    position: absolute
    text-transform: initial
    width: auto
    opacity: 0
    pointer-events: none

    &.menuable__content__active
      opacity: variables.$tooltip-opacity

    &--fixed
      position: fixed

    &[class*="-active"]
      transition-timing-function: variables.$tooltip-transition-timing-function

    &[class*="enter-active"]
      transition-duration: variables.$tooltip-transition-enter-duration

    &[class*="leave-active"]
      transition-duration: variables.$tooltip-transition-leave-duration
