@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

// Theme
+theme(v-input--switch) using ($material)
  .v-input--switch__thumb
    color: map-deep-get($material, 'selection-controls', 'thumb', 'inactive')

  .v-input--switch__track
    color: map-deep-get($material, 'selection-controls', 'track', 'inactive')

  &.v-input--is-disabled:not(.v-input--is-dirty)
    .v-input--switch__thumb
      color: map-deep-get($material, 'selection-controls', 'thumb', 'disabled') !important

    .v-input--switch__track
      color: map-deep-get($material, 'selection-controls', 'track', 'disabled') !important

.v-input--switch
  &__track,
  &__thumb
    background-color: currentColor
    pointer-events: none
    transition: inherit

  &__track
    border-radius: variables.$switch-track-border-radius
    width: variables.$switch-track-width
    height: variables.$switch-track-height
    left: variables.$switch-track-x
    position: absolute
    opacity: variables.$switch-track-opacity
    right: variables.$switch-track-x
    top: variables.$switch-track-top

  &__thumb
    border-radius: 50%
    top: variables.$switch-thumb-top
    height: variables.$switch-thumb-height
    position: relative
    width: variables.$switch-thumb-width
    display: flex
    justify-content: center
    align-items: center
    transition: $primary-transition

  .v-input--selection-controls__input
    width: variables.$switch-width
    transition: opacity $primary-transition

  .v-input--selection-controls__ripple
    top: variables.$switch-ripple-top

  &.v-input--dense
    .v-input--switch__thumb
      width: variables.$switch-thumb-dense-width
      height: variables.$switch-thumb-dense-height

    .v-input--switch__track
      height: variables.$switch-track-dense-height
      width: variables.$switch-track-dense-width

    &.v-input--switch--inset
      .v-input--switch__track
        height: variables.$switch-track-dense-inset-height
        width: variables.$switch-track-dense-inset-width
        top: variables.$switch-track-dense-top
        left: -3px

    .v-input--selection-controls__ripple
      top: variables.$switch-ripple-dense-top

  &.v-input--is-dirty.v-input--is-disabled
    .v-input--selection-controls__input
      opacity: variables.$switch-disabled-opacity

  +ltr()
    .v-input--selection-controls__ripple
      left: variables.$switch-ripple-x

    &.v-input--dense
      .v-input--selection-controls__ripple
        left: variables.$switch-ripple-dense-x

    &.v-input--is-dirty
      .v-input--selection-controls__ripple,
      .v-input--switch__thumb
        transform: translate(variables.$switch-dirty-offset-x, 0)

  +rtl()
    .v-input--selection-controls__ripple
      right: variables.$switch-ripple-x

    &.v-input--dense
      .v-input--selection-controls__ripple
        right: variables.$switch-ripple-dense-x

    &.v-input--is-dirty
      .v-input--selection-controls__ripple,
      .v-input--switch__thumb
        transform: translate(-(variables.$switch-dirty-offset-x), 0)

  &:not(&--flat):not(&--inset)
    .v-input--switch__thumb
      +elevation(variables.$switch-thumb-elevation)

  &--inset
    .v-input--switch__track,
    .v-input--selection-controls__input
      width: variables.$switch-track-inset-width

    .v-input--switch__track
      border-radius: variables.$switch-track-inset-border-radius
      height: variables.$switch-track-inset-height
      left: -4px
      opacity: variables.$switch-track-inset-opacity
      top: calc(50% - #{variables.$switch-track-inset-height * 0.5})

    .v-input--selection-controls__ripple,
    .v-input--switch__thumb
      +ltr()
        transform: translate(0, 0) !important

      +rtl()
        transform: translate(-6px, 0) !important

    &.v-input--is-dirty
      .v-input--selection-controls__ripple,
      .v-input--switch__thumb
        +ltr()
          transform: translate(variables.$switch-dirty-offset-x, 0) !important

        +rtl()
          transform: translate(-(variables.$switch-dirty-offset-x) - 6px, 0) !important
