@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

/* Theme */
+theme(v-counter) using ($material)
  color: map-deep-get($material, 'text', 'secondary')

.v-counter
  flex: 0 1 auto
  font-size: variables.$counter-font-size
  min-height: variables.$counter-min-height
  line-height: variables.$counter-line-height
