@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

@mixin firefox()
  @-moz-document url-prefix()
    @content

.v-main
  +bootable()

  display: flex
  flex: 1 0 auto
  max-width: 100%
  transition: variables.$main-transition

  &__wrap
    flex: 1 1 auto
    max-width: 100%
    position: relative

  +firefox()
    @media print
      display: block
