@use '../../styles/styles.sass' as *
// Imports
@use '_variables.scss' as variables

// Theme
+theme('v-banner.v-sheet') using ($material)
  background-color: transparent

  &:not(.v-sheet--outlined):not(.v-sheet--shaped)
    .v-banner__wrapper
      border-bottom: thin solid v-map-get($material, 'dividers')

+sheet(v-banner, variables.$banner-elevation, variables.$banner-border-radius, variables.$banner-shaped-border-radius)

// Block
.v-banner
  position: relative
  +elevationTransition()

// Element
.v-banner__actions
  align-items: center
  align-self: flex-end
  display: flex
  flex: 1 0 auto
  justify-content: flex-end
  margin-bottom: -(variables.$banner-y-padding) * 0.5

  +ltr()
    margin-left: variables.$banner-actions-start-margin

  +rtl()
    margin-right: variables.$banner-actions-start-margin

  & > * // Margin between actions
    +ltr()
      margin-left: variables.$banner-actions-margin

    +rtl()
      margin-right: variables.$banner-actions-margin

.v-banner__content
  align-items: center
  display: flex
  flex: 1 1 auto
  overflow: hidden

.v-banner__text
  flex: 1 1 auto
  line-height: variables.$banner-line-height
  max-width: 100%

.v-banner__icon
  display: inline-flex
  flex: 0 0 auto

  +ltr()
    margin-right: variables.$banner-start-padding

  +rtl()
    margin-left: variables.$banner-start-padding

.v-banner__wrapper
  align-items: center
  display: flex
  flex: 1 1 auto

  +ltr()
    padding: variables.$banner-y-padding variables.$banner-end-padding variables.$banner-y-padding variables.$banner-start-padding

  +rtl()
    padding: variables.$banner-y-padding variables.$banner-start-padding variables.$banner-y-padding variables.$banner-end-padding

// Modifiers
.v-banner--single-line
  .v-banner__actions
    margin-bottom: 0
    align-self: center

  .v-banner__text
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .v-banner__wrapper
    padding-top: variables.$banner-y-padding * 0.5
    padding-bottom: variables.$banner-y-padding * 0.5

.v-banner--has-icon
  .v-banner__wrapper
    +ltr()
      padding-left: variables.$banner-icon-padding

    +rtl()
      padding-right: variables.$banner-icon-padding

.v-banner--is-mobile
  .v-banner__actions
    flex: 1 0 100%
    margin-left: 0
    margin-right: 0
    padding-top: variables.$banner-mobile-actions-top-padding

  .v-banner__wrapper
    flex-wrap: wrap
    padding-top: variables.$banner-mobile-top-padding

    +ltr()
      padding-left: variables.$banner-mobile-start-padding

    +rtl()
      padding-right: variables.$banner-mobile-start-padding

  &.v-banner--has-icon
    .v-banner__wrapper
      padding-top: variables.$banner-mobile-multiline-padding

  &.v-banner--single-line
    .v-banner__actions
      flex: initial
      padding-top: 0

      +ltr()
        margin-left: variables.$banner-mobile-singleline-padding

      +rtl()
        margin-right: variables.$banner-mobile-singleline-padding

    .v-banner__wrapper
      flex-wrap: nowrap
      padding-top: variables.$banner-mobile-padding

  .v-banner__icon
    +ltr()
      margin-right: variables.$banner-icon-padding

    +rtl()
      margin-left: variables.$banner-icon-padding

  .v-banner__content
    +ltr()
      padding-right: variables.$banner-content-padding

    +rtl()
      padding-left: variables.$banner-content-padding

    .v-banner__wrapper
      flex-wrap: nowrap
      padding-top: variables.$banner-mobile-padding
