@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

// Theme
+theme(v-label) using ($material)
  color: map-deep-get($material, 'text', 'secondary')

  &--is-disabled
    color: map-deep-get($material, 'text', 'disabled')

.v-label
  font-size: variables.$label-font-size
  line-height: variables.$label-line-height
  min-height: variables.$label-min-height
  transition: .3s v-map-get($transition, 'swing')
