@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

// Block
.v-data-footer
  display: flex
  flex-wrap: wrap
  align-items: center
  font-size: variables.$data-footer-font-size
  padding: variables.$data-footer-padding

  .v-btn
    color: inherit

// Elements
.v-data-footer__icons-before
  .v-btn:last-child
    +ltr()
      margin-right: variables.$data-footer-icons-before-btn-margin-end

    +rtl()
      margin-left: variables.$data-footer-icons-before-btn-margin-end

.v-data-footer__icons-after
  .v-btn:first-child
    +ltr()
      margin-left: variables.$data-footer-icons-after-btn-margin-start

    +rtl()
      margin-right: variables.$data-footer-icons-after-btn-margin-start

.v-data-footer__pagination
  display: block
  text-align: center

  +ltr()
    margin: 0 variables.$data-footer-pagination-margin-end 0 variables.$data-footer-pagination-margin-start

  +rtl()
    margin: 0 variables.$data-footer-pagination-margin-start 0 variables.$data-footer-pagination-margin-end

.v-data-footer__select
  display: flex
  align-items: center
  flex: 0 0 0
  justify-content: flex-end
  white-space: nowrap

  +ltr()
    margin-left: auto
    margin-right: variables.$data-footer-select-margin-end

  +rtl()
    margin-left: variables.$data-footer-select-margin-end
    margin-right: auto

  .v-select
    flex: 0 1 0
    padding: 0
    position: initial

    +ltr()
      margin: variables.$data-footer-select-select-margin-y 0 variables.$data-footer-select-select-margin-y variables.$data-footer-select-select-margin-start

    +rtl()
      margin: variables.$data-footer-select-select-margin-y variables.$data-footer-select-select-margin-start variables.$data-footer-select-select-margin-y 0

  .v-select__selections
    flex-wrap: nowrap

    .v-select__selection--comma
      font-size: variables.$data-footer-select-selections-comma-font-size
