@use '../../styles/styles.sass' as *
@use "variables"

@mixin timeline-dots($dot-size, $inner-dot-size)
  height: $dot-size
  left: calc(50% - #{$dot-size * 0.5})
  width: $dot-size

  .v-timeline-item__inner-dot
    height: $inner-dot-size
    margin: ($dot-size - $inner-dot-size) * 0.5
    width: $inner-dot-size

@mixin timeline-wedge-align($direction)
  $opposite: left
  $ltr-rotation: 180deg
  $rtl-rotation: 0
  @if $direction == left
    $opposite: right
    $ltr-rotation: 0
    $rtl-rotation: 180deg

  .v-timeline-item__body > .v-card
    &:not(.v-card--link)::before,
    &::after
      +ltr()
        transform: rotate($ltr-rotation)
        #{$direction}: -(variables.$timeline-wedge-size)
        #{$opposite}: initial

      +rtl()
        transform: rotate($rtl-rotation)
        #{$direction}: initial
        #{$opposite}: -(variables.$timeline-wedge-size)

@mixin timeline-item-align($direction)
  $flex-direction: row
  $ltr-align: left
  $rtl-align: right
  @if $direction == left
    $flex-direction: row-reverse
    $ltr-align: right
    $rtl-align: left

  flex-direction: $flex-direction

  .v-timeline-item__opposite
    +ltr()
      text-align: $ltr-align

    +rtl()
      text-align: $rtl-align

@mixin timeline-line-align($center, $first, $second)
  &::before
    +ltr()
      #{$first}: calc(#{$center} - #{variables.$timeline-line-width * 0.5})
      #{$second}: initial

    +rtl()
      #{$first}: initial
      #{$second}: calc(#{$center} - #{variables.$timeline-line-width * 0.5})
