@use '../../styles/styles.sass' as *
// Imports
@use '_variables.scss' as variables
@use '_mixins.sass'

/**
 * .v-timeline::before - center divider
 * .v-card::before - arrow shadow (conflicts with active link overlay)
 * .v-card::after - arrow
 */

// Theme
+theme(v-timeline) using ($material)
  &::before
    background: v-map-get($material, 'dividers')

  .v-timeline-item
    &__dot
      background: v-map-get($material, 'cards')

    .v-card
      &:not(.v-card--link)::before
        border-right-color: $shadow-key-ambient-opacity

// Elements
.v-timeline
  padding-top: variables.$timeline-item-padding
  position: relative

  &::before
    bottom: 0
    content: ''
    height: 100%
    position: absolute
    top: 0
    width: variables.$timeline-line-width

.v-timeline-item
  display: flex
  padding-bottom: variables.$timeline-item-padding

.v-timeline-item__body
  position: relative
  height: 100%
  flex: 1 1 auto

.v-timeline-item__divider
  position: relative
  min-width: variables.$timeline-divider-width
  display: flex
  align-items: center
  justify-content: center

.v-timeline-item__dot
  z-index: 2
  border-radius: 50%
  +elevation(1)
  +mixins.timeline-dots(variables.$timeline-dot-regular-size, variables.$timeline-inner-dot-regular-size)

  &--small
    +mixins.timeline-dots(variables.$timeline-dot-small-size, variables.$timeline-inner-dot-small-size)

  &--large
    +mixins.timeline-dots(variables.$timeline-dot-large-size, variables.$timeline-inner-dot-large-size)

.v-timeline-item__inner-dot
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.v-timeline-item__opposite
  flex: 1 1 auto
  align-self: center
  max-width: calc(#{variables.$timeline-divider-center} - #{variables.$timeline-divider-width * 0.5})

// Before/after directions
.v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
  .v-timeline-item
    &:nth-child(odd):not(.v-timeline-item--before), &--after
      +mixins.timeline-item-align(left)
      +mixins.timeline-wedge-align(left)
      .v-timeline-item__body
        max-width: calc(#{100% - variables.$timeline-divider-center} - #{variables.$timeline-divider-width * 0.5})

    &:nth-child(even):not(.v-timeline-item--after), &--before
      +mixins.timeline-item-align(right)
      +mixins.timeline-wedge-align(right)
      .v-timeline-item__body
        max-width: calc(#{variables.$timeline-divider-center} - #{variables.$timeline-divider-width * 0.5})

// Wedge
.v-timeline-item__body
  > .v-card:not(.v-card--flat)
    &:not(.v-card--link)::before,
    &::after
      content: ''
      position: absolute
      border-top: variables.$timeline-wedge-size solid transparent
      border-bottom: variables.$timeline-wedge-size solid transparent
      border-right: variables.$timeline-wedge-size solid black
      top: calc(50% - #{variables.$timeline-wedge-size})

    &::after
      border-right-color: inherit

    &:not(.v-card--link)::before
      top: calc(50% - #{variables.$timeline-wedge-size} + 2px)

// Modifiers
.v-timeline--align-top
  .v-timeline-item__dot
    align-self: start

  .v-timeline-item__body
    > .v-card
      &::after
        top: calc(0% + #{variables.$timeline-wedge-size})

      &:not(.v-card--link)::before
        top: calc(0% + #{variables.$timeline-wedge-size} + 2px)

.v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse)
  +mixins.timeline-line-align(variables.$timeline-divider-center, left, right)

.v-timeline--reverse:not(.v-timeline--dense)
  +mixins.timeline-line-align(variables.$timeline-divider-center, right, left)

  .v-timeline-item
    &:nth-child(odd):not(.v-timeline-item--after), &--before
      +mixins.timeline-item-align(right)
      +mixins.timeline-wedge-align(right)
      .v-timeline-item__body
        max-width: calc(#{100% - variables.$timeline-divider-center} - #{variables.$timeline-divider-width * 0.5})

    &:nth-child(even):not(.v-timeline-item--before), &--after
      +mixins.timeline-item-align(left)
      +mixins.timeline-wedge-align(left)
      .v-timeline-item__body
        max-width: calc(#{variables.$timeline-divider-center} - #{variables.$timeline-divider-width * 0.5})

.v-timeline--reverse.v-timeline--dense
  +mixins.timeline-line-align(variables.$timeline-divider-width * 0.5, right, left)

.v-timeline--dense:not(.v-timeline--reverse)
  +mixins.timeline-line-align(variables.$timeline-divider-width * 0.5, left, right)

.v-timeline--dense
  .v-timeline-item
    flex-direction: row-reverse !important
    +mixins.timeline-wedge-align(left)

  .v-timeline-item__body
    max-width: calc(100% - #{variables.$timeline-divider-width})

  .v-timeline-item__opposite
    display: none

.v-timeline--reverse.v-timeline--dense
  .v-timeline-item
    flex-direction: row !important
    +mixins.timeline-wedge-align(right)

.v-timeline-item--fill-dot
  .v-timeline-item__inner-dot
    height: inherit
    margin: 0
    width: inherit
