@use "../settings/variables"

.v-application .blockquote
  padding: variables.$spacer*4 0 variables.$spacer*4 variables.$spacer*6
  font-size: variables.$blockquote-font-size
  font-weight: variables.$blockquote-font-weight
