@use '../styles.sass'
@use "../settings/variables"
@use "../tools/elevation"
@use "../tools/functions"
@use "../tools/theme"

.v-application
  code, kbd
    border-radius: variables.$code-kbd-border-radius
    font-size: variables.$code-kbd-font-size
    font-weight: variables.$code-kbd-font-weight

  code
    padding: variables.$code-padding

  kbd
    padding: variables.$kbd-padding
    +elevation.elevation(2)

+theme.theme(v-application) using ($material)
  code
    background-color: functions.map-deep-get($material, 'code', 'background')
    color: functions.map-deep-get($material, 'code', 'color')

  kbd
    background: functions.map-deep-get($material, 'kbd', 'background')
    color: functions.map-deep-get($material, 'kbd', 'color')
