@use '../../styles/styles.sass' as *
// Imports
@use '_variables.scss' as variables

+theme(v-badge) using ($material)
  .v-badge__badge::after
    border-color: v-map-get($material, 'cards')

.v-badge
  display: inline-block
  line-height: variables.$badge-line-height
  position: relative

  &__badge
    border-radius: variables.$badge-border-radius
    color: variables.$badge-color
    display: inline-block
    font-size: variables.$badge-font-size
    height: variables.$badge-height
    letter-spacing: variables.$badge-letter-spacing
    line-height: 1
    min-width: variables.$badge-min-width
    padding: variables.$badge-padding
    pointer-events: auto
    position: absolute
    text-align: center
    text-indent: 0
    top: variables.$badge-top
    transition: $primary-transition
    white-space: nowrap

    +ltr()
      right: variables.$badge-right

    +rtl()
      left: variables.$badge-right

    .v-icon
      color: inherit
      font-size: variables.$badge-font-size
      height: variables.$badge-font-size
      margin: variables.$badge-icon-margin
      width: variables.$badge-font-size

    .v-img
      height: variables.$badge-font-size
      width: variables.$badge-font-size

  &__wrapper
    flex: 0 1
    height: 100%
    left: 0
    pointer-events: none
    position: absolute
    top: 0
    width: 100%

  &--avatar
    .v-badge__badge
      padding: 0

      .v-avatar
        height: variables.$badge-height !important
        min-width: 0 !important
        max-width: variables.$badge-min-width !important

  &--bordered
    .v-badge__badge::after
      border-radius: inherit
      border-width: variables.$badge-bordered-width
      border-style: solid
      bottom: 0
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      transform: scale(1.15)

  &--dot
    .v-badge__badge
      border-radius: variables.$badge-dot-border-radius
      height: variables.$badge-dot-height
      min-width: 0
      padding: 0
      width: variables.$badge-dot-width

      &::after
        border-width: variables.$badge-dot-border-width

  &--icon
    .v-badge__badge
      padding: variables.$badge-icon-padding

  &--inline
    align-items: center
    display: inline-flex
    justify-content: center

    .v-badge__badge,
    .v-badge__wrapper
      position: relative

    .v-badge__wrapper
      margin: variables.$badge-wrapper-margin

  &--tile
    .v-badge__badge
      border-radius: 0
