@use "../settings/elevations"

@use "sass:map"
@mixin elevation($z, $important: false)
  $shadow: map.get(elevations.$shadow-key-umbra, $z), map.get(elevations.$shadow-key-penumbra, $z), map.get(elevations.$shadow-key-ambient, $z)
  @if $important
    box-shadow: $shadow !important
  @else
    box-shadow: $shadow

@mixin elevationTransition($duration: 280ms, $easing: cubic-bezier(0.4, 0, 0.2, 1))
  transition: box-shadow $duration $easing
