@use '../../styles/styles.sass' as *
@use '_variables.scss' as variables

.v-rating
  max-width: 100%
  white-space: nowrap

  .v-icon
    padding: variables.$rating-padding
    border-radius: variables.$rating-border-radius
    user-select: none
    outline: none

    &::after
      display: none

    +ltr()
      transform: scaleX(1)

    +rtl()
      transform: scaleX(-1)

  &--readonly
    .v-icon
      pointer-events: none

  &--dense
    .v-icon
      padding: variables.$rating-dense-padding
